.pa{padding:1rem}
.pa2{padding: 2px}
/*platform style*/
.platformStyle{
	background-color:#9EEBCF;
	text-align:center;
	border-radius: .5rem;
	padding:1rem;
	display:inline-block;
	margin:.5rem;
	box-shadow:4px 4px 8px 0 rgba(0,0,0,.2);
	border-width:.25rem;
}
.grow {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}
.grow:hover,
.grow:focus {
  transform: scale(1.05);
}

/*search box style*/
.searchBoxStyle{
	padding:1rem;
	border-style:solid;
	border-width:1px;
	border-color:#19a974;
	background-color: #cdecff;
}
/*menus style*/
.menusStyle{
	background-color:#cdecff;
	justify-content:space-between;
    width: 100%;
	height: 65px;
	display: flex;
}

/*home button style*/
.homeButton{
	margin: 16px 10px 10px 30px;
	background-color: transparent;
	border:none;
	width: 400px;
	font-size: 30px;
	color: white;
	font-family: 'SEGA LOGO FONT';
}

/*dropdown button style*/
.dropdown {
	margin:none;
	text-decoration: none;
}
.dropbtn {
	margin: 10px 30px 10px 10px;
  	background-color: #817979;
  	border: none;
}
.dropdown-content {
	background-color: #f9f9f9;
	min-width: 160px;
	min-height: 3rem;
	display: flex;
  	justify-content: space-evenly;
  	align-items: center;
}

.dropdown-login {
	background-color: #f9f9f9;
	width: 500px;
	min-height: 3rem;
	margin-left: 10px;
	padding: 10px;
}

.dropdown a{
	font-size:1.2rem;
	text-align: center;
}

/*sign in style*/
.signinStyle{
	padding: 20px;
	position: absolute;
	right:0;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	margin: -0.7rem 5rem .5rem .5rem;
}
.buttonStyle{
	font-weight: bold;
	padding-left:1rem;
	padding-right:1rem;
	padding-top:.5rem;
	padding-bottom:.5rem;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	background-color:transparent;
	font-size:.8rem;
	cursor: pointer;
}
.signinLabel{
	text-align: left;
	float: left;
}
.signinInput{
	height:100%;
	width:100%;
}

/*Setting Style*/
.settingStyle{
	position: relative;
	color:#fff;
	top:50px;
	width: 700px;
	margin:0px auto;
}
input.largeCheckbox{
	width:30px;
	height: 30px;
	margin-top: 13px;
}

/*Profile Style*/
#profileTabs{
	padding-top:"2rem";
}

/*Profile Form*/
.profileForm label{
	padding:"1rem";

}

/*Your Page Style*/
.yourPageStyle{
	position: relative;
	color:#fff;
	top:50px;
}

/*Delete Button Style*/
.deleteButton{
	background-color:transparent;
	border-style:none;
	justify-content: flex-start;
	align-content: flex-start;
	cursor: pointer;
}

/*Delete List style*/
.deleteList{
	display:inline-block;
	justify-content: flex-start;
	align-content: flex-start;
}
/*grey */
.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  background-color: rgba(0,0,0, 10)
}
/*delete button style*/
.deleteButtonStyle{
	font-weight: bold;
	padding-left:1rem;
	padding-right:1rem;
	padding-top:.5rem;
	padding-bottom:.5rem;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	background-color:transparent;
	font-size:1rem;
	cursor: pointer;
	margin:.5rem;
}
/*delete confirm style*/
.deleteConfirm{
	position:fixed;
	top:50%;
	left:50%;
	border-radius: .5rem;
	transform: translate(-50%,-50%);
	background-color: #2e5894;
	padding:50px;
	z-index: 100;
}

/*overlay style*/
.overlayStyle{
	position:fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(0,0,0,.7);
	z-index: 100;
}

/*close button*/
.closeButton{
	background-color: transparent;
	border:none;
	font-size: 50px;
	margin-left:90%;
	position:relative;
	bottom:5px;
}
/*select confirm box*/
.selectConfirm{
	position:fixed;
	top:50%;
	left:50%;
	height: 65%;
	width: 50%;
	border-radius: .5rem;
	transform: translate(-50%,-50%);
	background-color: #2e5894;
	/*padding:5px;*/
	z-index: 100;
}
/*play button*/
.playButton{
	font-weight: bold;
	padding-left:1rem;
	padding-right:1rem;
	padding-top:.5rem;
	padding-bottom:.5rem;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	background-color:transparent;
	font-size:1rem;
	cursor: pointer;
	margin:.5rem;
}
/*select image*/
.selectImage{
	width:55%;
    margin-right:2%;
    float: left;
}
.selectImage image{
	width:100%;
}
.paragraph {
	padding-top: 10%;
	/*position:relative;*/
    width:42%;
    float: left;
}
.clearfix{
    clear:both
}