.pa{padding:1rem}
.pa2{padding: 2px}
/*platform style*/
.platformStyle{
	background-color:#9EEBCF;
	text-align:center;
	border-radius: .5rem;
	padding:1rem;
	/* height:368px;
	width: 332px; */
	display:inline-block;
	margin:.5rem;
	box-shadow:4px 4px 8px 0 rgba(0,0,0,.2);
	border-width:.25rem;
	cursor: pointer;
}
.grow {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}
.grow:hover,
.grow:focus {
  transform: scale(1.05);
}

/*search box style*/
.searchBoxStyle{
	padding:1rem;
	width: 40%;
	border-style:solid;
	border-width:1px;
	border-color:#19a974;
	background-color: #cdecff;
	border-radius: 1rem;
}
/*menus style*/
.menusStyle{
	background-color:#cdecff;
	justify-content:space-between;
    width: 100%;
	height: 65px;
	display: flex;
}

.controllerStyle{
	height: calc(100vh - 65px);
}

/*home button style*/
.homeButton{
	margin: 12px 10px 10px 0px;
	background-color: transparent;
	border:none;
	width: 400px;
	font-size: 30px;
	color:#2C40AB;
	font-family: 'SEGA LOGO FONT';
}

/* Next / Previous button style */
.paginationButtons{
	margin: 12px 10px 10px 0px;
	background-color: transparent;
	border:none;
	width: 400px;
	font-size: 30px;
	color:white;
	font-family: 'SEGA LOGO FONT';
}

/*dropdown button style*/
.dropdown {
	margin:none;
	text-decoration: none;
}
.dropbtn {
	margin: 10px 30px 10px 10px;
  	background-color: #817979;
  	border: none;
}
.dropdown-content {
	background-color: #f9f9f9;
	min-width: 160px;
	min-height: 3rem;
	display: flex;
  	justify-content: space-evenly;
  	align-items: center;
}

.dropdown-login {
	background-color: #f9f9f9;
	width: 500px;
	min-height: 3rem;
	margin-left: 10px;
	padding: 10px;
}

.dropdown a{
	font-size:1.2rem;
	text-align: center;
}

/*sign in style*/
.signinStyle{
	padding: 20px;
	position: absolute;
	right:0;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	margin: -0.7rem 5rem .5rem .5rem;
}
.buttonStyle{
	font-weight: bold;
	padding-left:1rem;
	padding-right:1rem;
	padding-top:.5rem;
	padding-bottom:.5rem;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	background-color:transparent;
	font-size:.8rem;
	cursor: pointer;
}
.signinLabel{
	text-align: left;
	float: left;
}
.signinInput{
	height:100%;
	width:100%;
}

/*Setting Style*/
.settingStyle{
	position: relative;
	color:#fff;
	top:50px;
	width: 700px;
	margin:0px auto;
}

.form-row{
	padding-top:2rem;
}

input.largeCheckbox{
	width:30px;
	height: 30px;
	margin-top: 13px;
}

/*Profile Style*/
#profileTabs{
	padding-top:"";
}

/*Profile Form*/
.profileFormGroupLabel{
	color:#fff;
	font-size: large;
	display:inline;
}

.profileControls{
	display:block;
	padding:20px;
}

.form-inline{
	margin-left:0px;
}

.form-inline > *{
	margin:0rem 10rem; 
	/* padding:2rem; */
}

.form-inline > * > * {
	margin:1rem 10rem; 
}

.userPlatformInfoPadding{
	padding-top:3rem;
	color:white;
}

.userPlatformInfoPaddingBottom{
	padding-bottom:3rem;
	color:white;
}

.badgeContainer{
	width:100%;
}

.boundaryBox{
	width:75%,
}

/*Profile Form*/
/* .profileTabHeader ul > li > a { */
.profileTabHeader a{
	background-color:black;
	color:#fff;
	font-size: large;
}

/*Your Page Style*/
.yourPageStyle{
	position: relative;
	color:#fff;
	top:50px;
}

/*Delete Button Style*/
.deleteButton{
	background-color:transparent;
	border-style:none;
	justify-content: flex-start;
	align-content: flex-start;
	cursor: pointer;
}

/*Delete List style*/
.deleteList{
	display:inline-block;
	justify-content: flex-start;
	align-content: flex-start;
}
/*grey */
.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  background-color: rgba(0,0,0, 10)
}
/*delete button style*/
.deleteButtonStyle{
	font-weight: bold;
	padding-left:1rem;
	padding-right:1rem;
	padding-top:.5rem;
	padding-bottom:.5rem;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	background-color:transparent;
	font-size:1rem;
	cursor: pointer;
	margin:.5rem;
}
/*delete confirm style*/
.deleteConfirm{
	position:fixed;
	top:50%;
	left:50%;
	border-radius: .5rem;
	transform: translate(-50%,-50%);
	background-color: #9EEBCF;
	padding:50px;
	z-index: 100;
}

/*overlay style*/
.overlayStyle{
	position:fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(0,0,0,.7);
	z-index: 100;
}

/*close button*/
.closeButton{
	background-color: transparent;
	border:none;
	font-size: 50px;
	margin-left:70%;
	position:relative;
	bottom:5px;
}
/*select confirm box*/
.selectConfirm{
	position:fixed;
	top:50%;
	left:50%;
	height: 60%;
	width: 50%;
	border-radius: .5rem;
	transform: translate(-50%,-50%);
	background-color: #9EEBCF;
	/*padding:5px;*/
	z-index: 100;
}
/*play button*/
.playButton{
	font-weight: bold;
	padding-left:2rem;
	padding-right:2rem;
	padding-top:.5rem;
	padding-bottom:.5rem;
	border-style:solid;
	border-width:0px;
	color:#fff;
	border-radius: 0.5rem;
	background-color:#065db9 ;
	font-size:1rem;
	cursor: pointer;
	margin:.5rem;
}
.playButton:hover{
	background-color:transparent;
	border-color:#007bff;
	color: #FFFFFF;
	background-color:#065db9;
	border-width:3px;
}
/*select image*/
.selectImage{
	width:55%;
    margin-right:2%;
    float: left;
}
.selectImage image{
	width:100%;
}
.paragraph {
	padding-top: 10%;
	/*position:relative;*/
    width:42%;
    float: left;
}
.clearfix{
    clear:both
}
/*module view*/
.moduleView{
	position:fixed;
	top:50%;
	left:50%;
	height: 90%;
	width: 60%;
	border-radius: .5rem;
	transform: translate(-50%,-50%);
	background-color: #9EEBCF;
	z-index: 100;
}
/*module style*/
.moduleStyle{
	background-color:#2e5894;
	text-align:center;
	height:110px;
	width: 110px;
	border-radius: 50%;
	padding:1rem;
	display:absolute;
	margin:.5rem;
	box-shadow:4px 4px 8px 0 rgba(0,0,0,.2);
	border-width:.25rem;
	cursor: pointer;
}

.adminItem{
	display:inline-block
}

/* page card style */
.pageHelper{
	background-color:#9EEBCF !important;
	/* border-radius: .5rem; */
	height:15%;
	width: 100%;
	box-shadow:4px 4px 8px 0 rgba(0,0,0,.2);
	border-width:.25rem;
	padding:20px;
	margin-top:20px !important;
}

/* For flashcard */
.flashcard{
	background-color:#9EEBCF;
	/* border-radius: .5rem; */
	height:100%;
	width: 100%;
	box-shadow:4px 4px 8px 0 rgba(0,0,0,.2);
	border-width:.25rem;
}
.bottomButton{
	background-color:transparent;
	border-style:none;
	cursor: pointer;
	/* justify-content: flex-start; */
	/* align-content: flex-start; */
	position:absolute;
	top: 70%;
	transform: translate(-40%);
}
.textBox{
	position:absolute;
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
	/* height:50%;
	width: 50%;
	padding-top: 2%;
	display: center; */
}

/* The container */
.container {
	display: block;
	position: relative;
	justify-content:center;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	margin-left: 5%;
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.showResult{
	position:absolute;
	left:50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.cavasButton{
	position:absolute;
	left:50%;
	bottom: 5%;
	color:#fff;
	background-color:#065db9 ;
	font-size:1rem;
	font-weight: bold;
	transform: translate(-50%, -50%);
}

.cavasButton:hover{
	background-color:transparent;
	border-color:#007bff;
	color: #FFFFFF;
	background-color:#065db9;
	border-width:3px;
}
.imageButton{
	height:100%;
	width:100%;
	background-color:transparent;
	border-style:none;
	cursor: pointer;
}

.disableButton{
	font-weight: bold;
	padding-left:2rem;
	padding-right:2rem;
	padding-top:.5rem;
	padding-bottom:.5rem;
	border-style:solid;
	border-width:0px;
	color:#fff;
	border-radius: 0.5rem;
	background-color:#065db9 ;
	font-size:1rem;
	cursor: pointer;
	margin:.5rem;
}

.widgetText{
	position:absolute;
	left:50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.create{
    display: block;
    position: relative;
    justify-content: center;
    font-size: 15px;
    -webkit-user-select: none;
    user-select: none;
}

/*module style*/
.canvasStyle{
	background-color:#8ab1e9;
	cursor: pointer;
}

.content{
	width: 70%;
	max-height: 100%;
	margin: 0;
	float:left;
}

.leftbar{
    background-color: gray;
    float: left;
    width: 15%;
	height: 100%;
	min-height: 50px;
}

.leftbaroff{
    float: left;
    width: 15%;
	height: 100%;
	min-height: 50px;
}

.rightbar{
    background-color: gray;
    float: right;
    width: 15%;
	height: 100%;
	min-height: 50px;
}

.rightbaroff{
    float: right;
    width: 15%;
	height: 100%;
	min-height: 50px;
}

.platformContainer{
	width: 100%;
	height: 100%;
	min-height: 900px;
	overflow-y: hidden;
}

.LeftAccordian{
	overflow-y:scroll;
	overflow-x: hidden;
	border: 1px solid black;
	max-height: 75vh;
}

.LeftDelete{
	height: 20%;
}

.moduleTreeButton{
	width:100%;
}

.pageLayoutHelper{
	padding-top:2vh;
	justify-content:space-between;
	height:100vh;
}

.topPadding{
	height: 4vh;
}

.forTopRightBar{
	height: 45vh;
}