/* For flashcard */
.flashcard{
	background-color:#9EEBCF;
	border-radius: .5rem;
	height:100%;
	width: 100%;
	box-shadow:4px 4px 8px 0 rgba(0,0,0,.2);
	border-width:.25rem;
}
.bottomButton{
	background-color:transparent;
	border-style:none;
	cursor: pointer;
	/* justify-content: flex-start; */
	/* align-content: flex-start; */
	position:absolute;
	top: 70%;
	transform: translate(-40%);
}
.textBox{
	position:absolute;
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
	/* height:50%;
	width: 50%;
	padding-top: 2%;
	display: center; */
}
.leftButton{
	background-color:transparent;
	border-style:none;
	cursor: pointer;
	position:absolute;
	left:5%;
	top: 50%;
}
.rightButton{
	background-color:transparent;
	border-style:none;
	cursor: pointer;
	position:absolute;
	top: 50%;
	right:5%;
}

.textbutton{
    width: 100%;
    height: 100%;
}


